<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#2d3134" />

    <title>WhitestormJS Plugins</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="public/style.css">
  </head>
  <body>
    <div id="app"></div>
    <% for (const file of htmlWebpackPlugin.files.js) { %>
    <script src="<%= file %>"></script><% } %>
  </body>
</html>
